// Navigation code here
header{
    nav{
        .display-flex(column);
        width: 100%;
        align-items: center;
        margin: 0 auto ;
        padding: 1rem;
        font-size: 150%;
        background-color: @light-waterloo;
        @media @phone{
            margin: 0;
        }
        ul{
            .display-flex(row);
            justify-content: space-evenly;
            li{
                padding: 2rem 2rem 0;

                @media @phone{
                    padding: 1rem;
                }
            }
        }
    }
}