// Navigation code here
header{
    margin: 0 auto;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem 0;
        padding: 1rem;
        font-size: 150%;
        background-color: @light-waterloo;
        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                padding: 2rem 2rem 0;
            }
        }
    }
}